<?xml version="1.0"?>

<launch>

    <!-- initiating the turtlesim_node and rectangle_shape nodes -->
    <group ns="turtlesim1">
        <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
        <node pkg="test_pkg" name="rectangle" type="rectangle_shape.py" output="screen" />
    </group>

    <!-- initiating the turtlesim_node and square_shape nodes -->
    <group ns="turtlesim2">
        <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
        <node pkg="test_pkg" name="square" type="square_shape.py" output="screen" />
    </group>

    <!-- initiating the turtlesim_node and triangle_shape nodes -->
    <group ns="turtlesim3">
        <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
        <node pkg="test_pkg" name="triangle" type="triangle_shape.py" output="screen" />
    </group>
    
    <!-- initiating the turtlesim_node and star_shape nodes -->
    <group ns="turtlesim4">
        <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
        <node pkg="test_pkg" name="star" type="star_shape.py" output="screen" />
    </group>

</launch>
